# Project 2 | Digital Experiment

In this project, we will be working with the data from an insurance company, which can be found here: 
- https://github.com/data-bootcamp-v4/lessons/tree/main/5_6_eda_inf_stats_tableau/project/files_for_project/

# Data Cleaning and Formatting

## Cleaning Column Names

<strong><em>Loading datasets into dataframes :</strong></em>

In [1]:
import pandas as pd
import numpy as np

dfs = {'data1': 'df_data1','data1': 'df_data2','demo': 'df_demo', 'clients': 'df_clients' }

dfs['data1']   = pd.read_csv('../data/df_final_web_data_pt_1.txt', sep=',', parse_dates=['date_time'])
dfs['data2']   = pd.read_csv('../data/df_final_web_data_pt_2.txt', sep=',', parse_dates=['date_time'])
dfs['clients'] = pd.read_csv('../data/df_final_experiment_clients.txt')
dfs['demo']    = pd.read_csv('../data/df_final_demo.txt')

<strong><em>Glancing df_data1 dataset :</strong></em>

In [2]:
dfs['data1'].head(2)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51

<strong><em>Glancing df_data2 dataset :</strong></em>

In [3]:
dfs['data2'].head(2)

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27

<strong><em>Glancing at f_demo dataset :</strong></em>

In [4]:
dfs['clients'].head(2)

   client_id Variation
0    9988021      Test
1    8320017      Test

<strong><em>Glancing at df_clnts dataset :</strong></em>

In [5]:
dfs['demo'].head(3)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0

<strong><em>Stripping, renaming in lower case and replacing spaces with _</strong></em>

In [6]:
def fix_col_names(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(r'\s+','_',regex=True)
    return df
for k in  dfs.keys(): 
    fix_col_names(dfs[k])

## Cleaning or transforming Values

<strong><em>Replacing 'start', 'step_1', 'step_2', 'step_3' and 'confirm' values in 'process_step' by 1,2,3,4,5:</strong></em>

In [7]:
dic = {'start':'1', 'step_1':'2','step_2':'3','step_3':'4','confirm':'5' }
for df in [dfs['data1'] , dfs['data2']]:
    for k,v in dic.items(): df['process_step'] = df['process_step'].str.replace(k,v)

<strong><em>Checking changes:</strong></em>

In [8]:
dfs['data1'].head(1)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,4,2017-04-17 15:27:07

In [9]:
dfs['data2'].head(1)

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,5,2017-06-06 08:56:00

## Formatting data types

<strong><em>Changing 'process_step' into a float</strong></em>

In [10]:
for df in [dfs['data1'] , dfs['data2']]: df['process_step'] = df['process_step'].apply(float)

## Dealing with Null values

<strong><em>Calculating the percentage of missing values per column</strong></em>

In [11]:
for k in dfs.keys():
    if sum(round(dfs[k].isna().sum()/dfs[k].shape[0]*100,2)) > 0:
        print(f"Dataset '{k}' has missing values : \n{round(dfs[k].isna().sum()/dfs[k].shape[0]*100,2) } \n\n")

Dataset 'demo' has missing values :
client_id           0.00
clnt_tenure_yr      0.02
clnt_tenure_mnth    0.02
clnt_age            0.02
gendr               0.02
num_accts           0.02
bal                 0.02
calls_6_mnth        0.02
logons_6_mnth       0.02
dtype: float64


Dataset 'clients' has missing values :
client_id     0.00
variation    28.48
dtype: float64

<strong><em><ins>Observation:</ins> 28% of missing values for the "variation" column in df_clnts dataset</strong></em>
 !

<strong><em>Deleting rows with missing value for column "variation"</strong></em>

In [12]:
dfs['clients'].dropna(subset=['variation'], inplace=True)

## Dealing with duplicates

<strong><em>Dropping duplicates :</strong></em>

In [13]:
for k in dfs.keys():
    if dfs[k].duplicated().any():
        print(f"Dataframe '{k}' has duplicated rows\n")
        dfs[k].drop_duplicates(inplace=True)

Dataframe 'data1' has duplicated rows

Dataframe 'data2' has duplicated rows

In [14]:
for k in dfs.keys():
    if dfs[k].duplicated().any():
        print(f"Dataframe '{k}' still has duplicated rows\n")
print("There are no more duplicated rows on any datasets.")

There are no more duplicated rows on any datasets.

## Saving cleaned datasets

<strong><em>Concatenating data1 & data2 dataframes prioring saving :</strong></em>

In [15]:
df_web = pd.concat([dfs['data1'], dfs['data2']])

In [16]:
df_web.head(2)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,4.0,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,3.0,2017-04-17 15:26:51

In [17]:
if (dfs['data1'].shape[0] + dfs['data2'].shape[0] ==  df_web.shape[0]):
    print("numbers of rows of df_web matches the sum of the number of rows of data1 + data2")
else : 
    print("The concatenation of data1 + data2 did not work")

numbers of rows of df_web matches the sum of the number of rows of data1 + data2

In [18]:
df_web.to_csv('../data/cleaned_df_web.csv')

In [19]:
dfs['clients'].to_csv('../data/cleaned_df_clients.csv')

In [20]:
dfs['demo'].to_csv('../data/cleaned_df_demo.csv')

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.
Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.